@import "~bootstrap/dist/css/bootstrap.min.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background-color: #292929;
  min-height: 100vh;
}
